#! /bin/bash
set -e

pip install -U pip
pip install -U awscli

internalIP=$$(curl http://169.254.169.254/latest/meta-data/local-ipv4)
instanceID=$$(curl http://169.254.169.254/latest/meta-data/instance-id)
hostname="vault-$${instanceID#*-}"
hostnamectl set-hostname $$hostname

systemctl start consul

aws ec2 describe-instances --region ${region} --filters 'Name=tag:Name,Values=consul' 'Name=instance-state-name,Values=running' | jq -r '.Reservations[].Instances[].PrivateIpAddress' > /tmp/instances

while read line;
do
  if [ "$$line" != "$$internalIP" ]; then
    echo "Attempting to join Consul cluster via $$line" >> /tmp/bootstrap.log
    consul join $$line && break
  fi
done < /tmp/instances
sudo setcap cap_ipc_lock=+ep $$(readlink -f $$(which vault))
systemctl start vault
